@tailwind base;
@tailwind components;
@tailwind utilities;

* { cursor: none !important; }
html { scroll-behavior: smooth; }

body {
  background: #ffffff;
  color: #111111;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::selection { background: #1B3A6B; color: #fff; }
::-webkit-scrollbar { width: 2px; }
::-webkit-scrollbar-thumb { background: #1B3A6B; }
